Collection of Data Types/ Sequence -

List -  Mutable (can edit the list)
        [] bracket
        if list under tuple its Immutable
        hold any value
        
Operations on List -  Creating lists / Accessing lists / slicing lists / concatenation / repetition / Membership test
                      updating list / deleting element from list / built in function / reassigning list / appened / extend /
                      insert / sort / reverse / len / remove 
                      
                     
 Tuple - Immutable (can not edit )
         () Bracket
         same as list but can not change the values
  
Operation on Tuple - creating tuples / accessing tuples/ slicing tuples / deleting/ reassigning / iterating / nested tuple



Dictionary - key vaue pair 
             use {} bracket and colon: sign
             

Sets - Hold sequence of Unique value
       No Index support
       {} bracket
       
Operation on sets - creating / accessing /  updating / deleting / in built functions & methods / iterating

In [1]:
# List - 
myfirstlist = [24, 13, 54,23, 29, 43,4]

In [2]:
myfirstlist

[24, 13, 54, 23, 29, 43, 4]

In [3]:
type(myfirstlist)

list

In [4]:
mysecondlist = ["a", "b", "c", 23, 24,33]

In [5]:
mysecondlist  # can have multiple data type

['a', 'b', 'c', 23, 24, 33]

In [6]:
# Slicing  (Indexation in python starts with 0) For Slicing Index always required

myfirstlist[4]

29

In [7]:
myfirstlist[4:6] # in slicing last word wont execute.

[29, 43]

In [8]:
myfirstlist[: 6]  # colon is start point means no value given so it will start from 0 index and end at 5 index

[24, 13, 54, 23, 29, 43]

In [9]:
myfirstlist[-1] # -1 is a reverse indexation. start with -1 at end index

4

In [10]:
myfirstlist[-1 : -7] # it will give me empty list, because python work in forward direction but -7 in backward so it will give empty.

[]

In [11]:
myfirstlist[-1:4] # this also wont work,because 4 is lessthan -1 index

[]

In [13]:
myfirstlist[-1 : -7: -1]  # so after giving dierection it started giving value.

[4, 43, 29, 23, 54, 13]

In [14]:
myfirstlist[-4 : 8] # this given value as -4 value is in middle and 8 index is in forward direction

[23, 29, 43, 4]

In [16]:
languages = [["English"], ["Gujarati"], ["Hindi"], "Romaninan", "Spanish"]

In [17]:
type(languages) # i have passed list inside list and some variable too.

list

In [19]:
type(languages[0]) # so if i am passing index o index show list.

list

In [20]:
type(languages[3]) # so its giving str when its having as variable

str

In [21]:
languages[1]

['Gujarati']

In [22]:
languages[4]

'Spanish'

In [23]:
# UPDATING LIST

myfirstlist[3] = 36

In [24]:
myfirstlist # now we have updated list

[24, 13, 54, 36, 29, 43, 4]

In [25]:
# DELETE ELEMENT IN LIST

del myfirstlist[1]

In [26]:
myfirstlist

[24, 54, 36, 29, 43, 4]

In [27]:
myfirstlist[4:6]

[43, 4]

In [28]:
del myfirstlist[4:6]

In [29]:
myfirstlist # you can see 43, 4 gone

[24, 54, 36, 29]

In [30]:
del myfirstlist

In [31]:
myfirstlist # see entire list delete if we did not pass any index

NameError: name 'myfirstlist' is not defined

In [32]:
grocery_list = [['caramel', 'p&b', 'jelly'], ['onions', 'potatoes',], ['flour', 'oil']]

In [33]:
grocery_list

[['caramel', 'p&b', 'jelly'], ['onions', 'potatoes'], ['flour', 'oil']]

In [34]:
grocery_list[0][2]

'jelly'

In [35]:
a = [[[1,2], [3,4], 5],[6,7]] # we can do slicing list inside list by passing index number

In [36]:
a

[[[1, 2], [3, 4], 5], [6, 7]]

In [37]:
a[0][1]

[3, 4]

In [38]:
a[0][1][0]

3

In [39]:
a[0][0][1]

2

In [40]:
a[0][2]

5

In [41]:
a[1][0]

6

In [42]:
#creating 2 list parallel

a, b = [3,1,2], [4,5,6]

In [43]:
a

[3, 1, 2]

In [44]:
b

[4, 5, 6]

In [45]:
#CONCATENATION LIST

a+b

[3, 1, 2, 4, 5, 6]

In [47]:
# REPETITION
a*3

[3, 1, 2, 3, 1, 2, 3, 1, 2]

In [48]:
# MEMBERSHIP TEST

4 in a

False

In [49]:
4 not in a

True

In [50]:
3 in a

True

In [51]:
# APPEND  # it will add value in last 

mysecondlist.append('Edureka')

In [52]:
mysecondlist

['a', 'b', 'c', 23, 24, 33, 'Edureka']

In [53]:
# Insert # it will help to add value based on index in middle too

mysecondlist.insert(3, 'Edureka')

In [54]:
mysecondlist

['a', 'b', 'c', 'Edureka', 23, 24, 33, 'Edureka']

In [55]:
del mysecondlist[7] # by this i deleted last edureka

In [56]:
mysecondlist

['a', 'b', 'c', 'Edureka', 23, 24, 33]

In [57]:
#  POP - It will pop out the given index value and delete too
mysecondlist.pop(5)

24

In [59]:
mysecondlist

['a', 'b', 'c', 'Edureka', 23, 33]

In [62]:
# COPY FUNCTION  - copy helps to create same element based other list
myfirstlist = mysecondlist.copy()

In [63]:
myfirstlist

['a', 'b', 'c', 'Edureka', 23, 33]

In [64]:
# CLEAR FUNCTION - it will empty an list
mysecondlist.clear()

In [65]:
mysecondlist

[]

In [66]:
del mysecondlist

In [67]:
mysecondlist

NameError: name 'mysecondlist' is not defined

In [68]:
myfirstlist.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [70]:
myfirstlist

['Edureka', 'a', 'b', 'c', 23, 33]

In [74]:
myfirstlist.remove('Edureka')

In [75]:
myfirstlist.pop(1)

'b'

In [77]:
myfirstlist.pop(2)

23

In [78]:
myfirstlist

['a', 'c', 33]

In [80]:
list = [21, 31, 54, 67, 89, 55]

In [81]:
sum(list)

317

In [82]:
min(list)

21

In [83]:
max(list)

89

In [84]:
del myfirstlist[0:2] # del function can delete seq of element together

In [85]:
myfirstlist

[33]

In [86]:
# TUPLE

In [87]:
myfirsttuple = (21, 22, 24, 25, 26,31)

In [88]:
myfirsttuple

(21, 22, 24, 25, 26, 31)

In [89]:
type(myfirsttuple)

tuple

In [90]:
# UPDATING TUPLE 
[0]= 31  # you can see its given error because tuple does not support editing

TypeError: 'tuple' object does not support item assignment

In [91]:
mytuple = (21, 45,21,22,43,55,40, 43)

In [92]:
mytuple

(21, 45, 21, 22, 43, 55, 40, 43)

In [93]:
# Count Method  (count will only have in tuple , which help to find out if we have repetiton of element)

mytuple.count(21)

2

In [94]:
mytuple.index(21) # so if we have repetiton element index will show very first one value

0

In [95]:
# Packing in tuple
percentage = 45, 58, 99, 60, 93 , 78 ,100

In [97]:
type(percentage) # we can see its type is tuple without passing() bracket

tuple

In [98]:
# Unpacking 

percentage = ( 45, 58, 99, 60, 93 , 78 ,100)

In [99]:
a,b,c,d,e,f,g = percentage # i am assigning individual elemnet in individual variable. its unpacking

In [100]:
a

45

In [101]:
c  # you can see 99 number assign under c varibale

99

In [104]:
a = (1)

In [105]:
type(a) # its an int , its look like tuple but its a base datatype

int

In [106]:
a = (1,) # to save a single value in tuple type we need to pass after value (,) so it will convert base type into tuple

In [107]:
type(a)

tuple

In [108]:
# SLICING IN TUPLE - its same as list, slicing always done with []

percentage[2:4]

(99, 60)

In [109]:
percentage[:4]

(45, 58, 99, 60)

In [110]:
percentage[-1]

100

In [111]:
percentage[-1:-5:-1]

(100, 78, 93, 60)

In [112]:
percentage[-1 : -8 :-2] # -2 means we are jumping one value then left one than another value

(100, 93, 99, 45)

In [113]:
percentage[2:2] # its give me empty tuple because start number is 2 and end is also 2 so nothing count

()

In [114]:
percentage[: -2] # so its will start with 0index and go towards second last element as -2 is sceond last index

(45, 58, 99, 60, 93)

In [115]:
percentage[2:-2] # so go from 2 element towards second last element and left second last because last element wont count.

(99, 60, 93)

In [116]:
percentage

(45, 58, 99, 60, 93, 78, 100)

In [117]:
del myfirsttuple[0]  # tuple does not support indexation delete

TypeError: 'tuple' object doesn't support item deletion

In [118]:
del myfirsttuple # so its deleted entire tuple

In [119]:
LIST INSIDE A TUPLE - List can edit inside tuple
mytuple = (1,2,3,[4,5,6])

In [121]:
mytuple[1]

2

In [122]:
mytuple[3][0]

4

In [123]:
mytuple[3][0]= 13

In [124]:
mytuple  # so you can see i can do change if its list

(1, 2, 3, [13, 5, 6])

In [125]:
len(mytuple) # it given 4 because a list count as single element

4

In [126]:
max(mytuple)

TypeError: '>' not supported between instances of 'list' and 'int'

In [127]:
max(percentage)

100

In [128]:
min(percentage)

45

In [129]:
sum(percentage)

533

In [130]:
# TUPLE INSIDE A LIST

list1 = [12, 14, 16, (0, 11, 10)]

In [131]:
list1

[12, 14, 16, (0, 11, 10)]

In [132]:
type(list1)

list

In [133]:
type(list1[3]) # you can see now its showing tuple

tuple

In [134]:
# UPDATION INSIDE LIST FOR TUPLE - it will give error

list1[3][0]= 36

TypeError: 'tuple' object does not support item assignment

In [135]:
list1[2]= 38

In [136]:
list1

[12, 14, 38, (0, 11, 10)]

In [137]:
# MEMBERSHIP TESTING IN TUPLE

99 in percentage

True

In [138]:
100 not in percentage

False

In [140]:
CONCTENTION IN TUPLE
(1,2,3)+(4,8,9)

(1, 2, 3, 4, 8, 9)

In [141]:
a = ((1,2,3), (4,(5,6))) # TUPLE INSIDE TUPLE

In [142]:
len(a)

2

In [143]:
a[0]

(1, 2, 3)

In [144]:
a[1]

(4, (5, 6))

In [145]:
a[1][1][0]

5

In [146]:
# DICTIONARY

In [147]:
myfirstdict = {'customername':'nimisha', 'order id' : '144789', 'segment' : 'python'}

In [148]:
myfirstdict['segment']

'python'

In [149]:
# NEW ELEMENT ADDITION

myfirstdict['region'] = 'South'

In [150]:
myfirstdict  # now can see region also added

{'customername': 'nimisha',
 'order id': '144789',
 'segment': 'python',
 'region': 'South'}

In [151]:
len(myfirstdict)

4

In [152]:
myfirstdict.pop('customername') # it will pop out and entire ky valve remove from dict

'nimisha'

In [153]:
myfirstdict

{'order id': '144789', 'segment': 'python', 'region': 'South'}

In [155]:
# CHANGE IN DICT - so it will remove old one and change "key" as per given , it will remove the key and change the key

myfirstdict['OID'] = myfirstdict.pop('order id')

In [156]:
myfirstdict # it will added given addition in last, now can see oid reflect as last element

{'segment': 'python', 'region': 'South', 'OID': '144789'}

In [158]:
myfirstdict['region']= 'east'  # this way can change valve, direct assignment

In [159]:
myfirstdict

{'segment': 'python', 'region': 'east', 'OID': '144789'}

In [160]:
dict1 = {1:'A', 'B':2}

In [161]:
dict1 # so it can have any key or valve

{1: 'A', 'B': 2}

In [163]:
dict2 = {1:'A', "B" : [1,0,34]}

In [164]:
dict2 # so valve could be anything tuple, list or single value

{1: 'A', 'B': [1, 0, 34]}

In [165]:
type(dict2)

dict

In [166]:
type(dict2[1])

str

In [167]:
len(dict2)

2

In [168]:
dict(([1,2],[2,4],[4,6]))  # when i am passing tuple with list in function dict it will generate dictionary. 1 is key and 2 is value

{1: 2, 2: 4, 4: 6}

In [169]:
dict([1,2],[2,4],[4,6]) # it wont work if we wont pass tuple()

TypeError: dict expected at most 1 arguments, got 3

In [172]:
dict2 = dict()

In [173]:
dict2

{}

In [174]:
dict2 = dict(([1,2],[2,4],[4,6]))

In [175]:
dict2

{1: 2, 2: 4, 4: 6}

In [176]:
dict4 = {1:2,1:3,1:5,2:6}

In [177]:
dict4 # key valve should be unique another it will take only latest key and other wont participate

{1: 5, 2: 6}

In [178]:
mydict = {} #creating empty dictionary

In [179]:
type(mydict)

dict

In [180]:
# PASSING VALVE IN EMPTY DICT

mydict['B']='Dog'

In [181]:
mydict['2'] = 'Max'

In [182]:
mydict['0']='Parrot'

In [183]:
mydict # so amything can pass as key and value

{'B': 'Dog', '2': 'Max', '0': 'Parrot'}

In [184]:
# DELETING DICT

del dict1

In [185]:
dict1

NameError: name 'dict1' is not defined

In [187]:
myfirstdict.keys()  # Key function only show key detail

dict_keys(['segment', 'region', 'OID'])

In [189]:
myfirstdict.values()  # value function will show only all value

dict_values(['python', 'east', '144789'])

In [190]:
myfirstdict.popitem()  # pop item will remove last item

('OID', '144789')

In [191]:
myfirstdict

{'segment': 'python', 'region': 'east'}

In [192]:
myfirstdict

{'segment': 'python', 'region': 'east'}

In [194]:
# FROMKEYS FUNCTION  -  with this can create new dict by taking only key part and can assign different value and assigning in different dict.

newdict = myfirstdict.fromkeys({'segment', 'region',},0)

In [195]:
newdict

{'region': 0, 'segment': 0}

In [196]:
newdict['region']= 'north'

In [197]:
newdict['segment']= 'hadoop'

In [198]:
newdict

{'region': 'north', 'segment': 'hadoop'}

In [201]:
 'north' in newdict

False

In [202]:
'region' in newdict

True

In [203]:
#UPDATION IN DICT

dict0 = {1:2,2:2}
dict4 = {2:2, 3:4}

In [205]:
dict0.update(dict4)

In [206]:
dict0

{1: 2, 2: 2, 3: 4}

In [207]:
# SETS

In [208]:
myfirstset = {1,2,2,1,4,5,3,6,4,8,6,9,6,0}

In [209]:
myfirstset # it save only unique value

{0, 1, 2, 3, 4, 5, 6, 8, 9}

In [210]:
myfirstset[1] # set does not support index

TypeError: 'set' object is not subscriptable

In [211]:
# ADDING IN SET - add will add number in last and only one element can add

myfirstset.add(21)

In [212]:
myfirstset

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21}

In [213]:
# UPDATE IN SET

myfirstset.update([34,54,67,80])

In [214]:
myfirstset # with update can add n no of element

{0, 1, 2, 3, 4, 5, 6, 8, 9, 21, 34, 54, 67, 80}

In [216]:
# REMOVE IN SET  - it will remove given value

myfirstset.remove(3)

In [217]:
myfirstset

{0, 1, 2, 4, 5, 6, 8, 9, 21, 34, 54, 67, 80}

In [218]:
# DISCARD IN SET

myfirstset.discard(21) # discard wont give error like remove if we run multiple time

In [219]:
myfirstset

{0, 1, 2, 4, 5, 6, 8, 9, 34, 54, 67, 80}

In [221]:
# CONVERTING LIST INTO SET


mylist = [21, 13, 14, 16 ,34]

In [222]:
myset = set(mylist)  # this command will conver list into set

In [223]:
myset

{13, 14, 16, 21, 34}

In [224]:
mytuple = (200,500,460)

In [225]:
myset1 = set(mytuple)

In [226]:
myset1

{200, 460, 500}

In [228]:
# POP FUNCTION IN SET - pop takes no argument and it will pop out by first value 

myset1.pop(200)

TypeError: pop() takes no arguments (1 given)

In [229]:
myset1.pop()

200

In [230]:
myset1.pop()

460

In [231]:
myset1 # as 2 value poped out so remain only last value as there was 3 element

{500}

In [232]:
# CLEAR FUNCTION IS SET - it will emptied the set
myset1.clear()

In [233]:
myset1

set()

In [234]:
set1 = {24,34, 45, 56}
set2 = {34, 56, 78, 90}

In [235]:
# UNION IN  SET # it will joint 2 set with unique value

set1.union(set2)

{24, 34, 45, 56, 78, 90}

In [236]:
# INTERSECTION IN SET  - it will take common value in set

set1.intersection(set2)

{34, 56}

In [237]:
# DIFFERENCE IN SET - it will show the value of set1 which is not common in set2

set1.difference(set2)

{24, 45}

In [239]:
# MEMBERSHIP TEST IN SET

34 in set1

True

In [240]:
56 not in set1

False

In [241]:
max(set2)

90

In [242]:
min(set2)

34

In [243]:
sum(set2)

258